*.pyc
__pycache__
myvenv
db.sqlite3
/static
.DS_Store
django_zbp/settings/local.py
/bplan/static/third-party/bower_components/
lib
bin/activate*
bin/easy_install*
bin/pip*
bin/python*
/bplan/fixtures/addresses/
