Django==2.2.9 # pyup: < 2.3
django-appconf==1.0.3
django-cloudflare-push==0.2.0
django-cors-headers==3.1.1
django-debug-toolbar==2.0
django-filter==2.2.0
djangorestframework-gis==0.15
djangorestframework==3.10.3
psycopg2-binary==2.8.4
python-dateutil==2.8.0
rcssmin==1.0.6
rjsmin==1.1.0
six==1.12.0
sqlparse==0.3.0
tqdm==4.41.1
whitenoise==4.1.4
brotli==1.0.7
raven==6.10.0
