Django==4.2.15
django-appconf==1.0.6
django-cloudflare-push==0.2.2
django-cors-headers==4.4.0
django-filter==23.5
djangorestframework-gis==1.0
djangorestframework==3.14.0
psycopg==3.2.1
python-dateutil==2.9.0.post0
rcssmin==1.1.2
rjsmin==1.2.1
six==1.16.0
sqlparse==0.4.4
tqdm==4.66.3
whitenoise==6.7.0
brotli==1.1.0
sentry-sdk==2.8.0
