<ul class="nav nav-pills">
    <li>
        <a href=""
           data-ng-class="{active: currentView == 'map'}"
           data-ng-click="setView('map');">
            <i class="fa fa-map-o fa-lg"></i>
        </a>
    </li>
    <li>
        <a href=""
           data-ng-class="{active: currentView =='list'}"
           data-ng-click="setView('list');">
            <i class="fa fa-list fa-lg"></i>
        </a>
    </li>
    <li class="textinput" data-ng-class="{open: searchResultCount > 1 && searchstring}">
        <form class="navbar-form navbar-left navbar-input-group" role="search">
            <div class="input-group">
                <div class="form-group">
                    <input type="text" data-ng-model="searchstring" data-ng-change="removeTagOnBackspace()" placeholder="Adresse oder Bebauungsplan-Nr.">
                </div>
                <span>
                    <button
                        class="search-button"
                        data-ng-click="getDataForSearch()"
                        data-ng-class="{middle: searchstring}"
                        type="submit">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                    <button data-ng-if="searchstring"
                        class="search-button"
                        data-ng-click="resetSearch()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </form>
        <span data-ng-if="noHouseNumber" class="help-block">Bitte geben Sie eine Hausnummer an.</span>
        <span data-ng-if="!noHouseNumber && searchResultCount == 0" class="help-block">Es wurde kein Eintrag gefunden.</span>
        <ul class="dropdown-menu">
            <li>Meinten Sie:</li>
            <li data-ng-repeat="address in addressSearchResult" class="address-search-result-item">
                <a href="" data-ng-click="chooseAddress(address)">
                    <div>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    {{ address.properties.strname }} {{ address.properties.hsnr }},
                    </div>
                    <div><small>{{ address.properties.bezirk_name }},  {{ address.properties.plz }} Berlin</small></div>
                </a>
            </li>
            <li data-ng-repeat="bplan in bplanSearchResult" class="address-search-result-item">
                <a href="" data-ng-click="chooseBplan(bplan)">
                    <div>
                    <i class="fa fa-map-o" aria-hidden="true"></i>
                    Bebauungsplan: {{ bplan.properties.planname }}
                    </div>
                    <div><small>{{ bplan.properties.bezirk_name }}</small></div>
                </a>
            </li>
        </ul>
    </li>
    <li data-ng-if="area" class="dropdown">
        <a class="dropdown-toggle"
            data-toggle="dropdown"
            href="#" role="button"
            aria-haspopup="true"
            aria-expanded="false">
            {{ places.currentOrtsteilName }} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li data-ng-hide="places.currentOrtsteilName == 'Alle Ortsteile'"
                data-ng-click="resetOrtsteil();">
                <a href="">Alle Ortsteile</a>
            </li>
            <li data-ng-repeat="ortsteil in places.ortsteile">
                <a  data-ortsteil-directive
                    data-update-ortsteil="updateOrtsteil()"
                    ortsteil="ortsteil"
                    href="">
                </a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle"
           data-toggle="dropdown"
           href="#" role="button"
           aria-haspopup="true"
           aria-expanded="false">Filter <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <div class="custom-checkbox custom-checkbox-bbg">
                    <input
                        type="checkbox"
                        id="checkbox_bbg"
                        data-ng-model="places.filters.bbg"
                        data-ng-change="updateFilter()">
                        <label for="checkbox_bbg">{{'bbg' | status }}</label>
                </div>
            </li>
            <li>
                <div class="custom-checkbox custom-checkbox-aul">
                    <input
                        type="checkbox"
                        id="checkbox_aul"
                        data-ng-model="places.filters.aul"
                        data-ng-change="updateFilter()">
                        <label for="checkbox_aul">{{'aul' | status }}</label>
                </div>
            </li>
            <li>
                <div class="custom-checkbox custom-checkbox-imVerfahren">
                    <input
                        type="checkbox"
                        id="checkbox_imVerfahren"
                        data-ng-model="places.filters.imVerfahren"
                        data-ng-change="updateFilter()">
                        <label for="checkbox_imVerfahren">{{'imVerfahren' | status }}</label>
                </div>
            </li>
            <li>
                <div class="custom-checkbox custom-checkbox-festg">
                    <input
                        type="checkbox"
                        id="checkbox_festg"
                        data-ng-model="places.filters.festg"
                        data-ng-change="updateFilter()">
                        <label for="checkbox_festg">{{'festg' | status }}</label>
                </div>
            </li>
        </ul>
    </li>
</ul>