<div class="col-md-12 bplan-list-item bplan-list-item-{{ status }}">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div><b>Bplannummer</b></div>
            <div>{{ bplan.planname }}</div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div><b>Bezirk</b></div>
            <div>{{ bplan.bezirk_name }}</div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div><b>Aktueller Status</b></div>
            <div>{{ status | status }}</div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div data-ng-if="bplan.status == 'aul' || status == 'bbg'"><b>Enddatum</b></div>
            <div data-ng-if="bplan.status == 'imVerfahren'"><b>Aufgestellt am</b></div>
            <div data-ng-if="bplan.status == 'festg'"><b>Festgesetzt am</b></div>
            <div data-ng-if="bplan.status == 'imVerfahren' && bplan.afs_beschl">{{ bplan.afs_beschl | date : 'dd.MM.yyyy' }}</div>
            <div data-ng-if="bplan.status == 'aul' && bplan.aul_ende">{{ bplan.aul_ende | date : 'dd.MM.yyyy' }}</div>
            <div data-ng-if="bplan.status == 'bbg' && bplan.bbg_ende">{{ bplan.bbg_ende | date : 'dd.MM.yyyy' }}</div>
            <div data-ng-if="bplan.status == 'festg' && bplan.festsg_am">{{ bplan.festsg_am | date : 'dd.MM.yyyy'}}</div>
        </div>
    </div>
    <div class="row button-row">
        <div data-ng-if="bplan.ausleg_www" class="col-xs-3 col-sm-3 col-md-3">
            <div><a class="custom-btn btn-primary btn-xs" target="_blank" href="{{ bplan.ausleg_www }}">Website</a></div>
        </div>
        <div data-ng-if="bplan.scan_www" class="col-xs-3 col-sm-3 col-md-3">
            <div><a class="custom-btn btn-primary btn-xs" target="_blank" href="{{ bplan.scan_www }}">BplanScan</a></div>
        </div>
        <div data-ng-if="bplan.grund_www" class="col-xs-3 col-sm-3 col-md-3">
            <div><a  class="custom-btn btn-primary btn-xs" target="_blank" href="{{ bplan.grund_www }}">Begründung</a></div>
        </div>
    </div>
</div>