<ul class="nav nav-pills">
    <li data-ng-hide="isMobile">
        <a href=""
           data-ng-class="{active: currentView == 'map'}"
           data-ng-click="setView('map');">
            <i class="far fa-map fa-lg" aria-label="Karte zeigen"></i>
        </a>
    </li>
    <li data-ng-hide="isMobile">
        <a href=""
           data-ng-class="{active: currentView =='list'}"
           data-ng-click="setView('list');">
            <i class="fas fa-list fa-lg" aria-label="Liste zeigen"></i>
        </a>
    </li>
    <li class="textinput" data-ng-class="{open: searchResultCount > 1 && searchstring}">
        <form class="navbar-form navbar-left navbar-input-group" ng-submit="getDataForSearch()" role="search">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" data-ng-model="searchstring" data-ng-change="removeTagOnBackspace()" placeholder="Adresse oder Bebauungsplan-Nr.">
                    <button
                        class="btn search-button"
                        type="button"
                        data-ng-click="getDataForSearch()"
                        data-ng-class="{middle: searchstring}">
                        <i class="fas fa-search" aria-label="Adresse oder Bebauungsplan-Nr. suchen"></i>
                    </button>
                    <button
                        data-ng-if="searchstring"
                        type="button"
                        class="btn search-button"
                        data-ng-click="resetSearch()">
                        <i class="fas fa-times" aria-label="Suche löschen"></i>
                </button>
                </div>
            </div>
        </form>
        <span data-ng-if="searchResultCount == 0" class="help-block">Es wurde kein Eintrag gefunden.</span>
        <ul class="dropdown-menu">
            <li>Meinten Sie:</li>
            <li data-ng-repeat="address in addressSearchResult" class="address-search-result-item">
                <a href="" data-ng-click="chooseAddress(address)">
                    <div>
                    <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                    {{ address.properties.strname }}<span data-ng-if="address.properties.hsnr.length > 0"> {{ address.properties.hsnr }}</span>,
                    </div>
                    <div><small>{{ address.properties.bezirk_name }},  {{ address.properties.plz }} Berlin</small></div>
                </a>
            </li>
            <li data-ng-repeat="bplan in bplanSearchResult" class="address-search-result-item">
                <a href="" data-ng-click="chooseBplan(bplan)">
                    <div>
                    <i class="far fa-map" aria-hidden="true"></i>
                    Bebauungsplan: {{ bplan.properties.planname }}
                    </div>
                    <div><small>{{ bplan.properties.bezirk_name }}</small></div>
                </a>
            </li>
        </ul>
    </li>
    <li data-ng-if="area" class="dropdown">
        <a
            class="dropdown-toggle"
            data-ng-click="toggleDropdown($event)"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            {{ places.currentOrtsteilName }}
        </a>
        <ul class="dropdown-menu">
            <li data-ng-hide="places.currentOrtsteilName == 'Alle Ortsteile'"
                data-ng-click="resetOrtsteil();">
                <a href="">Alle Ortsteile</a>
            </li>
            <li data-ng-repeat="ortsteil in places.ortsteile">
                <a  data-ortsteil-directive
                    data-update-ortsteil="updateOrtsteil()"
                    ortsteil="ortsteil"
                    href="">
                </a>
            </li>
        </ul>
    </li>


    <li class="dropdown nav-status-filter">
        <button
            class="dropdown-toggle"
            data-ng-class="{'show': dropdownOpen }"
            data-ng-click="toggleDropdown($event)"
            href="#"
            type="button"
            id="navStatusFilter"
            data-bs-toggle="dropdown"
            aria-expanded="false"
        >
            <i class="fas fas bbg-checked" data-ng-class="{'fa-check-square': places.filters.bbg, 'fa-square': !places.filters.bbg}" aria-hidden="true"></i>
            <i class="fas fas aul-checked" data-ng-class="{'fa-check-square': places.filters.aul, 'fa-square': !places.filters.aul}" aria-hidden="true"></i>
            <i class="fas fas imVerfahren-checked" data-ng-class="{'fa-check-square': places.filters.imVerfahren, 'fa-square': !places.filters.imVerfahren}" aria-hidden="true"></i>
            <i class="fas fas festg-checked" data-ng-class="{'fa-check-square': places.filters.festg, 'fa-square': !places.filters.festg}" aria-hidden="true"></i>
            Verfahrensstatus
        </button>

        <ul class="dropdown-menu" aria-labelledby="navStatusFilter">
            <label class="dropdown-header dropdown-menu-title">In Beteiligung</label>
            <li>
                <div class="mb-2 custom-checkbox custom-checkbox-bbg">
                    <input
                        type="checkbox"
                        id="checkbox_bbg"
                        data-ng-model="places.filters.bbg"
                        data-ng-change="updateFilter()">
                        <label for="checkbox_bbg">{{'bbg' | status }}</label>
                </div>
            </li>
            <li>
                <div class="mb-2 custom-checkbox custom-checkbox-aul">
                    <input
                        type="checkbox"
                        id="checkbox_aul"
                        data-ng-model="places.filters.aul"
                        data-ng-change="updateFilter()">
                        <label for="checkbox_aul">{{'aul' | status }}</label>
                </div>
            </li>
            <li role="separator" class="dropdown-divider"></li>
            <li>
                <div class="custom-checkbox custom-checkbox-imVerfahren">
                    <input
                        type="checkbox"
                        id="checkbox_imVerfahren"
                        data-ng-model="places.filters.imVerfahren"
                        data-ng-change="updateFilter()">
                        <label for="checkbox_imVerfahren">{{'imVerfahren' | status }}</label>
                </div>
            </li>
            <li role="separator" class="dropdown-divider"></li>
            <li>
                <div class="custom-checkbox custom-checkbox-festg">
                    <input
                        type="checkbox"
                        id="checkbox_festg"
                        data-ng-model="places.filters.festg"
                        data-ng-change="updateFilter()">
                        <label for="checkbox_festg">{{'festg' | status }}</label>
                </div>
            </li>
        </ul>
    </li>

    <li role="presentation" class="info-button">
        <a href="https://mein.berlin.de/b-plan-karte-hilfe/" target="_blank" aria-label="Allgemeine Informationen">
            <span class="fa-stack fa-lg" aria-hidden="true">
                <i class="far fa-circle fa-stack-2x"></i>
                <i class="fas fa-info fa-stack-1x"></i>
            </span>
        </a>
    </li>
</ul>
