{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'third-party/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'third-party/bower_components/leaflet/dist/leaflet.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/MarkerCluster.Custom.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script type="text/javascript">
			area = "{% block area %}{% endblock %}";
		</script>
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <div>
            {% block content %}{% endblock %}
        </div>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'third-party/bower_components/jquery/dist/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'third-party/bower_components/angular/angular.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'third-party/bower_components/leaflet/dist/leaflet.js' %}"></script>
        <script type="text/javascript" src="{% static 'third-party/bower_components/leaflet.markercluster/dist/leaflet.markercluster.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/app.js' %}"></script>
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

    </body>
</html>