{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'leaflet.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendor.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>

        <script type="text/javascript">
            area = "{% block area %}{% endblock %}";
            afs_behoer = "{{ afs_behoer }}";
        </script>
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% verbatim %}
        <div>
            <div class="container-fluid" ng-app="app">
                <div class="row" ng-controller="ViewController">

                    <div class="no-padding col-md-12">
                        <data-shared-nav></data-shared-nav>
                    </div>

                    <div ng-controller="MapController">

                        <div data-ng-class="{'col-md-12 col-sm-12 col-xs-12' : !popupopen, 'col-md-6 col-sm-6 col-xs-6': popupopen}"
                             data-ng-show="currentView === 'map'" class="no-right-padding no-left-padding">
                            <div class='bplan-map' id="map"></div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-6 no-left-padding no-right-padding"
                             data-ng-if ="currentView === 'map' && popupopen">
                            <data-popup data-ng-if="currentItem" closepopup="closePopup" resetsearch="resetSearch" bplan="currentItem"></data-popup>
                        </div>

                    </div>

                    <div data-ng-controller="ListController" data-ng-show="currentView === 'list'">
                        <div
                            class="row"
                            data-ng-if="list.length === 0">
                            <div class="col-md-12">
                                Keine Ergebnisse
                            </div>
                        </div>
                        <div
                            class="row bplan-list"
                            data-ng-if="list.length > 0">
                            <div class="col-md-12 col-lg-12 pull-right">
                                <nav>
                                    <ul class="pagination">
                                        <li data-ng-class="{'disabled': currentPage==0}">
                                            <a  data-ng-if= "currentPage>0"
                                                data-ng-click="previousPage()"
                                                href=""
                                                aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                            <a  data-ng-if= "currentPage==0"
                                                href=""
                                                aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li><a href="#">Seite {{ currentPage +1 }} von {{Math.ceil(list.length/pageSize)}}</a></li>
                                        <li data-ng-class="{'disabled': currentPage >= (list.length/pageSize -1)}">
                                            <a  data-ng-if="currentPage >= (list.length/pageSize -1)"
                                                href=""
                                                aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                            <a  data-ng-if="currentPage < list.length/pageSize -1"
                                                data-ng-click="nextPage()"
                                                href=""
                                                aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div data-ng-if="!isMobile" class="row">
                            <div class="col-md-12" data-ng-show="currentView === 'list'">
                                <div
                                    class="row"
                                    data-ng-if="list.length > 0"
                                    data-ng-repeat="bplan in list| startFrom:currentPage*pageSize | limitTo:pageSize">
                                    <listitem
                                        data-ng-if="$index <= (currentPage*pageSize + pageSize)"
                                        data-index="$index"
                                        data-currentbplan="places.currentBplan"
                                        data-status="bplan.properties.status"
                                        data-pk="bplan.properties.pk">
                                    </listitem>
                                </div>
                            </div>
                        </div>
                        <div data-ng-if="isMobile" class="row">
                            <div class="col-md-12" data-ng-show="currentView === 'list'">
                                <div
                                    class="row"
                                    data-ng-if="list.length > 0"
                                    data-ng-repeat="bplan in list| startFrom:currentPage*pageSize | limitTo:pageSize">
                                    <listitemmobile
                                        data-ng-if="$index <= (currentPage*pageSize + pageSize)"
                                        data-index="$index"
                                        data-currentbplan="places.currentBplan"
                                        data-status="bplan.properties.status"
                                        data-pk="bplan.properties.pk">
                                    </listitemmobile>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endverbatim %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'vendor.js' %}"></script>
        <script type="text/javascript" src="{% static 'angularbundle.js' %}"></script>
        <script type="text/javascript" src="{% static 'leaflet.js' %}"></script>


        <script type="text/javascript" src="{% static 'js/app/app.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/shared/services/placeService.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/shared/controllers/viewController.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/components/map/mapControllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/components/list/listControllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/components/list/listDirectives.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/components/map/mapDirectives.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/shared/directives/sharedDirectives.js' %}"></script>
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

    </body>
</html>
