.close-button {
	border:none;
	background-color: #fff;
	outline: 0;
	color: #000;
}

.custom-btn {
	@extend .btn;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-family: $font-family-base;
}

.search-button {
	height: auto;
	border-right: 1px solid $gray-lighter;
	border-left: none;
	border-top: 1px solid $gray-lighter;
	border-bottom: 1px solid $gray-lighter;
	background-color: $white;
	font-size: $font-size;
	font-family: $font-family-base;
	padding: 2px 7px 2px 7px;
	outline: 0;
	border-radius: 0px;
}

.middle {
	border-right: none;
}

.listitemmobile-button {
	margin-bottom: 5px;
}
