.nav {
	padding: 10px 0 10px 0;
	font-size: $font-size-base;
	color: $gray-light;
	font-family: 'Arimo', serif;

	li.open .dropdown-menu {
		display: block;
	}

	& li {
		& a {
			display: block;
			padding: $padding-xs-vertical $padding-base-vertical;
			margin: $padding-xs-vertical;
			color: $gray-light;
			@media (max-width: $screen-xs-max) {
				padding: 5px 7px 5px 7px;
			}
		}
		& a:hover {
			background-color: #fff;
			text-decoration: none;
		}
		& a:focus {
			background-color: #fff;
			text-decoration: none;
		}
		& .active {
			color: $gray-dark;
		}

		& .navbar-form {
			padding: 0px;
			margin: 0px;
			padding-right: 15px;
			@media (max-width: $screen-xs-max) {
						padding-right: 0;
			}
			& .form-group {
				vertical-align: top;
				& input {
					border-left: 1px solid $gray-lighter;
					border-top: 1px solid $gray-lighter;
					border-bottom: 1px solid $gray-lighter;
					border-right: none;
					border-radius: 0px;
					font-size: $font-size-base;
					font-family: 'Arimo', serif;
					-webkit-box-shadow: none;
					-moz-box-shadow: none;
					box-shadow: none;
					padding: 3px 7px;
					height: auto;
					outline: none;
					min-width: 210px;
					&:focus {
						outline:0px;
						-webkit-appearance: none;
						box-shadow: none;
						border-color: $gray-lighter;
					}
					@media (max-width: $screen-xs-max) {
						padding: 5px 7px 5px 7px;
					}
				}
			}
		}
	}

	& .dropdown {
		& .dropdown-toggle {
			color: $gray-light;
			background: none;
			border: 1px solid $gray-lighter;
			padding: $padding-xs-horizontal;
		}

		& .bbg-checked {
			color: $status-bbg;
		}

		& .aul-checked {
			color: $status-aul;
		}

		& .imVerfahren-checked {
			color: $status-imVerfahren;
		}

		& .festg-checked {
			color: $status-festg;
		}

		.dropdown-menu-title {
			padding-left: 22px;
			font-weight: bold;
			font-size: $font-size-base;
		}

		label {
			color: $gray-light;
			display: block;
		}
	}
	& .no-dropdown {
		.custom-checkbox {
			[type="checkbox"] + label:before {
				margin-top: -6px;
			}
			[type="checkbox"] + label:after {
				margin-top: -4px;
			}
		}
	}

	& .dropdown-menu {
		border: 1px solid $gray-lighter;
		font-size: $font-size-base;
		font-family: 'Arimo', serif;
		padding: 7px;
		border-radius: 0px;
		-webkit-box-shadow: 0px;
		box-shadow: 0px;
		padding-top: 3px;

		& .checkbox {
			margin-top: 2px;
			padding-left: 0px;
		}
	}

  .info-button {
      font-size: 8px;
  }
}

.no-padding {
	padding: 0 !important;
}

.textinput {
	@extend .dropdown;
	border: none !important;

	& .help-block {
		margin-bottom: 0px;
		font-size: $font-size-small;
		padding-left: 7px;
	}
}

.address-search-result-item {
	border-bottom: 1px solid $gray-lighter;
	margin-top: 5px;
	padding-bottom: 5px;
}

.navbar-input-group {
  @media (min-width: $screen-sm) {
    font-size: 0px; /*removes whitespace between button and input*/

    input {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    .btn {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-left: 0px;
    }
  }
  @media (max-width: $screen-xs-max) {
    margin-top:0px;
    margin-bottom:0px;

    .btn {
      width:100%;
    }
  }
}

.nav {
	margin: 0;
	padding-bottom: 0.5 * $spacer;
}

.nav-pills {
	> li,
	.dropdown-toggle {
		text-align: start;

		@media (max-width: $screen-xs-max) {
			float: none;
			width: 100%;
			margin-bottom: $padding-base-vertical;

			:after {
				float: right;
				margin: 6px 0;
			}
		}
	}
}
