.popup {
    height: $map-height;
    color: $gray-light;
    font-size: $font-size;
    font-family: 'Arimo', serif;
    padding: 25px;
}

.popup-entry {
    margin: 20px 0px 20px 0px;
}

.popup-bbg {
    border: solid 15px $status-bbg;
}

.popup-aul {
    border: solid 15px $status-aul;
}

.popup-imVerfahren {
    border: solid 15px $status-imVerfahren;
}

.popup-festg {
    border: solid 15px $status-festg;
}

.no-left-padding {
    padding-left: 0;
}

.bplan-map {

    & .leaflet-popup-content-wrapper {
        border-radius: 0px;
        background-color: $brand-primary;
        color: white;

    }

    & .leaflet-popup {
        & .leaflet-popup-close-button {
            padding: 6px -6px 6px 0px;
        }
    }

    & .leaflet-popup-tip {
        border-right:15px solid $brand-primary;
        border-top:15px solid $brand-primary;
    }

}
