.close-button {
	border:none;
	background-color: #fff;
	outline: 0;
	color: #000;
}

.custom-btn {
	@extend .btn;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-family: 'Arimo', serif;
}

.search-button {
	height: auto;
	border: 1px solid $gray-lighter;
	background-color: $white;
	font-size: $font-size;
	font-family: 'Arimo', serif;
	padding: 2px 7px 2px 7px;
	outline: 0;
}