.bplan-list {

	& .pagination {
		margin: 0;
		padding-bottom: 9px;
		& a {
			border: none;
			color: $gray-light;
			font-size: $font-size;
			font-family: 'Arimo', serif;
			padding: 0 12px 0 12px;
		}
		& a:hover {
			background-color: white;
			color: $gray-light;
			font-size: $font-size;
			font-family: 'Arimo', serif;
			padding: 0 12px 0 12px;
		}
		& a:focus {
			background-color: white;
			color: $gray-light;
			font-size: $font-size;
			font-family: 'Arimo', serif;
			padding: 0 12px 0 12px;
		}
	}
}


.bplan-list-item {
	margin: 0 15px 15px 15px;
	padding: 10px;
	color: $gray-light;
	font-size: $font-size;
	font-family: 'Arimo', serif;
	min-height: 95px;
}

.bplan-list-item-bbg {
	border: solid 1px $status-bbg;
}

.bplan-list-item-aul {
	border: solid 1px $status-aul;
}

.bplan-list-item-imVerfahren {
	border: solid 1px $status-imVerfahren;
}

.bplan-list-item-festg {
	border: solid 1px $status-festg;
}

.bplan-list-item-description {
	margin-top: 15px;
}

.button-row {
	margin-top: 15px;
}