.popup {
	height: $map-height;
	color: $gray-light;
	font-size: 12px;
	padding: 15px;
}

.popup-bbg {
	border: solid 15px $status-bbg;
}

.popup-aul {
	border: solid 15px $status-aul;
}

.popup-imVerfahren {
	border: solid 15px $status-imVerfahren;
}

.popup-festg {
	border: solid 15px $status-festg;
}

.no-left-padding {
	padding-left: 0;
}