.popup {
	height: $map-height;
	color: $gray-light;
	font-size: 14px;
	font-family: 'Arimo', serif;
	padding: 25px;
}

.popup-entry {
	margin: 25px 0px 25px 0px;
}

.popup-bbg {
	border: solid 15px $status-bbg;
}

.popup-aul {
	border: solid 15px $status-aul;
}

.popup-imVerfahren {
	border: solid 15px $status-imVerfahren;
}

.popup-festg {
	border: solid 15px $status-festg;
}

.no-left-padding {
	padding-left: 0;
}
