.popup {
	height: $map-height;
	color: $gray-light;
	font-size: 14px;
	font-family: 'Arimo', serif;
	padding: 25px;
}

.popup-entry {
	margin: 25px 0px 25px 0px;

	& .btn {
		-webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        font-family: 'Arimo', serif;
	}
}

.close-button {
	border:none;
	background-color: #fff;
	outline: 0;
	color: #000;
}

.popup-bbg {
	border: solid 15px $status-bbg;
}

.popup-aul {
	border: solid 15px $status-aul;
}

.popup-imVerfahren {
	border: solid 15px $status-imVerfahren;
}

.popup-festg {
	border: solid 15px $status-festg;
}

.no-left-padding {
	padding-left: 0;
}
